.container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: flex-end;
  padding-right: 30px;
  height: 100%;
  width: calc(100% - 250px);
}
.date-viewer {
  margin-left: 10%;
  font-size: 15px;
}
p {
  font-weight: 600;
  color: #0892d0;
}
