.table {
  overflow-y: auto;
  height: 450px;
  width: 85%;
  background-color: #f2f2f2;
  position: relative;
  align-self: center;
  /* box-shadow: 1px 1px 10px #b0b3b3 inset; */
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 80px;
}
.row {
  font-size: 15px;
  margin: 6px 5px;
  padding: 8px 0px;
  height: 50px;
  text-shadow: 5px;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.cell {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.information {
  margin-top: 7px;
  margin-left: 20px;
  height: 40px;
  display: flex;
  width: 70%;
  align-items: center;
  /* background-color: blue; */
}
.Attendance-Button-set {
  margin-top: 7px;
  display: flex;
  width: 25%;
  margin-right: 15px;
  height: 50px;

  align-items: center;
  justify-content: space-around;
  /* background-color: aqua; */
}
.one {
  width: 15%;
}
.two {
  width: 40%;
}
.three {
  width: 20%;
}
.four {
  width: 25%;
}
.present {
  width: 90px;
  height: 30px;
  background-color: #0892d0;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.present:hover {
  background-color: white;
  color: #0892d0;
  border: 2px solid #0892d0;
}
.absent {
  width: 100px;
  height: 30px;
  border: none;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  background-color: #262b2f;
  border: 2px solid #262b2f;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.absent:hover {
  background-color: white;
  color: #262b2f;
  border: 2px solid #262b2f;
}
.view {
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 3px;
}
.heading {
  display: flex;
  width: 85%;
  align-self: center;
  /* padding: 10px 10px; */
  border-radius: 5px;
  position: relative;
  margin-top: 12px;
  box-shadow: 1px 1px 10px #b0b3b3;
  background-color: #262b2f;
  color: white;
  text-shadow: 5px;
  font-size: 15px;
}
.headingDetails {
  display: flex;
  margin-left: 20px;
  width: 70%;
  /* background-color: #0892d0; */
  justify-content: space-around;
}
.heading-row {
  width: 100%;
  font-size: 15px;
  margin: 6px 5px;
  padding: 9px 0px;
  height: 50px;
  text-shadow: 5px;
  font-weight: 600;
}
