.form-part {
  display: flex;
}
h2 {
  margin-top: 30px;
  align-self: center;
  font-size: 40px;
}
.body-container {
  margin-top: 30px;
  width: 600px;
  height: 370px;
  display: flex;
}
.label-field {
  padding-left: 30px;
  font-size: 20px;
  font-weight: bold;
  width: 200px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input-field {
  width: 200px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Discription-input {
  height: 70px;
  width: 300px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 10px #b0b3b3 inset;
}
.Expense-name-input,
.Amount-input,
.Confirm-amount-input {
  width: 200px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  box-shadow: 1px 1px 10px #b0b3b3 inset;
}
.button-set {
  padding-right: 50px;
  align-self: end;
  width: 420px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.submit-next,
.submit-finish {
  padding: 5px 20px;
  font-weight: bold;
  width: 100px;
  height: 55px;
  color: white;
  background-color: #088112;
  border-radius: 3px;
  border: none;
}
.cancel {
  font-weight: bold;
  padding: 5px 20px;
  width: 100px;
  height: 55px;
  color: white;
  background-color: #434645;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 10px #b0b3b3;
}
