.container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: flex-end;
  padding-right: 30px;
  height: 100%;
  width: 100%;
}
.button-container {
  display: flex;
  width: 90%;
  margin-bottom: 30px;
  justify-content: flex-end;
}
.back-button {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #262b2f;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.back-button:hover {
  background-color: white;
  color: #262b2f;
  border: 2px solid #262b2f;
}
.income-graph-button {
  width: 120px;
  margin-right: 15px;
  height: 40px;
  font-weight: 600;
  color: white;
  background-color: #0892d0;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.income-graph-button:hover {
  background-color: white;
  color: #0892d0;
  border: 2px solid #0892d0;
}
.tabs {
  display: flex;
  margin-left: 120px;
  margin-bottom: 10px;
  /* background-color: #0892d0; */
}
