.abc-header{
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.header-container{
  width: 95%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-logo{
  min-width: 100px;
  height: 60px;
  background-color: white;
}

.header-com-name{
  width: 80%;
  min-width: fit-content;
  font-size: 16px;
}

.header-profile{
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
}

img{
  width: 60px;
  height: 60px;
}
