.abc-header{
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  /* background-color: aqua; */
  z-index: 200;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.header-container{
  width: 95%;
  min-width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar-button{
  visibility: hidden;
}

.header-logo{
  min-width: 100px;
  height: 80px;
  right: 0;
  display: flex;
  align-items: center;
  /* background-color: rgb(104, 16, 16); */
}

.header-com-name{
  width: 63%;
  font-size: 16px;
  /* background-color: brown; */
}

.header-profile{
  display: flex;
  align-items: center;
  min-width: 60px;
  height: 60px; 
  border-radius: 50%;
  background-color: white;
  margin-left: 25px;
}

.header-profile img{
  width: 60px;
  height: 60px;
}

.header-logo img{
  height: 60px;
  margin-top: 10px;
}
.username{
  width: 20%;
  padding-right: 10px;
  text-align: right;
  /* background-color: chartreuse; */
}
.reverse{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .abc-header{
    width: 100vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    /* background-color: aqua; */
    box-shadow: 1px 1px 10px #b0b3b3;
  }

  .header-container{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .sidebar-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    margin: 15px;
    visibility: visible;
    background-color: transparent;
    border: none;
    margin-right: 15px;
  }

  .header-com-name{
    width: 10%;
  }

  .reverse{
    flex-direction: row;
    width: 200px;
    /* background-color: chartreuse; */
  }

  #bars{
    font-size: 35px;
  }

  .header-profile img{
    width: 40px;
    height: 40px;
  }
  
  .header-logo img{
    height: 40px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 400px){
  .header-com-name{
    width: 0%;
  }

  .reverse{
    flex-direction: row;
    width: 150px;
    margin-right: 20px;
    /* background-color: chartreuse; */
  }
  
}
