.save, .confirm , .cancel , .delete{
    height: 45px;
    width: 100px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 600;
}

.save, .confirm{
    border: none; 
    color: #f3f7f7;
    background-color: #13a067;
    box-shadow: 5px 5px 10px #cfd7ed ;
}
.delete{
    border: none; 
    color: #f3f7f7;
    background-color: #c2230e;
    box-shadow: 5px 5px 10px #cfd7ed ;
}
.cancel{
    color: #505050;
    background-color: #bbbbbb;
    border: solid 2px #757575;
}
.cancel:hover{
    background-color:#d1d0d0;
    cursor: pointer;
}

.save:hover, .confirm:hover{
    background-color:#07c075;
    cursor: pointer;
}

.delete:hover{
    background-color: #f01d01;
    cursor: pointer;
}

.save:active ,.confirm:active, .cancel:active ,.delete:active{
    margin-top: 20px;
}









.back{
    width: 80px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #292d42;
    color: #f3f7f7;
    font-size: 15px;
    font-weight: 600;
}
.back:hover{
    background-color: #353a53;
    cursor: pointer;
}
.back:active{
    margin-top: 5px;
}








.edit-large{
    width: 100px;
    height: 30px;
    background-color: #bbbbbb;
    box-shadow: 1px 1px 5px #2e2d2d;
    color: white;
    border: none;
    border-radius: 3px;
    /* background-color: indianred; */
}

.edit-large:hover{
    background-color: #777777;
    cursor: pointer;
}





.edit{
    width: 50px;
    height: 25px;
    background-color: #d0d0d5;
    box-shadow: 1px 1px 5px #2e2d2d;
    color: #1b1b32;
    border: none;
    border-radius: 3px;
    /* background-color: indianred; */
}



.edit:hover{
    background-color: #777777;
}



.add-new{
    width: 100px;
    height: 40px;
    border: 3px solid #292d42;
    /* background-color: white; */
    color: #292d42;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
}

.add-new:hover{
    background-color: #292d42;
    color: white;
    cursor: pointer;
}