.tab-container{
    width: 92%;
    height: 50px;
    display: flex;
    align-items: flex-start;
    /* background-color: violet; */
}

.tab-1 , .tab-2{
    width: fit-content;
    color: #292d42;
    /* background-color: tomato; */
}

.tab-1:hover , .tab-2:hover{
    color:  #07c075;
}

.tab-2{
    margin-left: 20px;
}

.tab-line{
    margin-top: 3px; 
}

a:link {
    text-decoration: none;
}

.search-container{
    width: 92%;
    height: 70px;
    display: flex;
    flex-direction: row-reverse;
    background-color: blueviolet;
}