* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: sans-serif;
  min-width: 100px;
  /* background-color: gray; */
}
.container {
  width: 100%;
  height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.header {
  width: 100%;
  height: 10%;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 25px;
}
.prof {
  /* background-color: red; */
  width: 12%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
/* .prf-pic{

} */
select {
  width: 120px;
  height: 26px;
  border-radius: 3px;
  border: none;
}
.my-content {
  width: 100%;
  height: 100%;
  display: flex;
  /* background-color: rgb(47, 0, 255); */
  flex-direction: row;
  justify-content: space-between;
}
.side-bar {
  background-color: #414767;

  width: 14%;
  height: 100%;
  line-height: 65px;
  cursor: pointer;
}

.side-bar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.4s;
}
ul li:hover a {
  padding-left: 50px;
}
.side-bar ul li a:hover {
  padding-right: 5px;
}
.view {
  width: 86%;
  height: 100%;
  /* background-color: white; */
}
.part-1 {
  width: 100%;
  height: 11%;
  /* background-color: #7da8f8; */
  display: flex;
  align-items: center;
}
.topic {
  padding-left: 74%;
  color: black;
  font-size: 27px;
  text-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.part-2 {
  width: 100%;
  height: 15%;
  /* background-color: #cb7df8; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.dateofExam {
  width: 25%;
  height: 80%;
  /* background-color: #7df887; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
.exm-type {
  width: 25%;
  height: 80%;
  /* background-color: #f87dac; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.date,
.exam {
  width: 180px;
  height: 36px;
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 6px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.part-3 {
  /* background-color: rgb(248, 250, 146); */
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
}

.table-head {
  width: 70%;
  height: 12%;
  background-color: black;
  color: white;
  border-radius: 4px;
  display: flex;
  /* justify-content: center; */
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.one,
.two,
.three,
.four,
.five,
.six {
  height: 100%;
  display: flex;
  align-items: center;
}
.one {
  width: 14%;
  /* background-color: rgb(255, 59, 59); */
}

.two {
  width: 18%;
  /* background-color: rgb(253, 222, 44); */
}
.three {
  width: 15%;
  /* background-color: rgb(109, 255, 72); */
}
.four {
  width: 16%;
  /* background-color: rgb(51, 113, 248); */
}
.five {
  width: 20%;
  /* background-color: rgb(253, 222, 44); */
}

.table-body {
  width: 1005px;
  height: 80%;
  background-color: none;
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.scroll {
  width: 92%;
  height: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign {
  background-color: white;
  padding: 8px;
  width: 110px;
  height: 30px;
  border-radius: 4px;
  border: none;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  transition: 0.4s;
}
.sign:hover {
  color: white;
  background-color: #0892d0;
}
.row-1 {
  width: 98%;
  height: fit-content;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #b0b3b3;
  border-radius: 4px;
}
.z-row {
  width: 8%;
}
.zero {
  width: 2%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
  height: 57px;
  display: flex;
  align-items: center;
}
.col-1 {
  width: 11%;
  /* background-color: rgb(248, 144, 144); */
}
.col-2 {
  width: 16%;
  /* background-color: rgb(144, 248, 248); */
}
.col-3 {
  width: 15%;
  /* background-color: rgb(160, 144, 248); */
}
.col-4 {
  width: 15%;
  /* background-color: rgb(224, 144, 248); */
}
.col-5 {
  width: 20%;
  /* background-color: rgb(248, 144, 144); */
}
.col-6 {
  width: 15%;
  /* background-color: rgb(144, 248, 248); */
}
button {
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}
.pass {
  background-color: #0892d0;
  transition: 0.4s;
}
.fail {
  color: #a0035d;
  transition: 0.4s;
  background-color: white;
  border: 2px solid #a0035d;
}
.fail:hover {
  color: white;
  background-color: #a0035d;
}
.pass:hover {
  background-color: #0099ff;
}
