* {
  margin: 0;
  padding: 0;
}
body {
  min-width: 100px;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: pink; */
}
.header {
  width: 100%;
  height: 80px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  padding-left: 20px;
  /* background-color: beige; */
}
.prof {
  /* background-color: blueviolet; */
  width: 16%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
select {
  border: none;
  border-radius: 3px;
  height: 30px;
  width: 120px;
}
.main {
  width: 100%;
  height: calc(100% - 250px);
  display: flex;
  flex-direction: row;
  /* background-color: rgb(4, 0, 255); */
}
ul li {
  list-style: none;
  line-height: 65px;
  box-sizing: border-box;
}
ul li a {
  color: white;
  /* transition: 0.4s; */
  text-decoration: none;
  padding-left: 50px;
}
ul li:hover {
  padding-left: 10px;
  /* background-color: white;
    width: 80%;
    height: 40px; */
}
.view {
  width: 84%;
  height: 100%;
  background-color: #f2f2f2;
  /* display: flex;
    flex-direction: column; */
}
.part-1 {
  width: 100%;
  height: 12%;
  /* background-color: rgb(229, 248, 123); */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topic {
  font-size: 40px;
  text-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  color: black;
  padding-right: 20px;
}
.part-2 {
  width: 100%;
  height: 12%;
  /* background-color: rgb(104, 224, 245); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.choise {
  background-color: none;
  width: 88%;
  height: 69%;
  /* padding-left: 10%; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* background-color: pink; */
  align-items: center;
}
.cl1 {
  width: 56%;
  height: 80%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
}
.cl1 button {
  font-size: 17px;
  /* background-color: pink; */
}
.cl1 button:hover {
  border-bottom: 2px solid black;
}
.all {
  width: 17%;
  height: 100%;

  border: none;
}
.exam {
  width: 28%;
  height: 100%;

  border: none;
}
.trial {
  width: 28%;
  height: 100%;

  border: none;
}
.fail {
  width: 27%;
  height: 100%;

  border: none;
}

::placeholder {
  color: #0892d0;
  padding: 6px;
}
input[type="text"] {
  width: 200px;
  height: 34px;
  border: 2px solid #0892d0;
  border-radius: 3px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
}

.part-3 {
  width: 100%;
  height: 64%;
  /* background-color: #28f7a4; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.head-cover {
  width: 72%;
  height: 12%;
  background-color: #262b2f;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #b0b3b3;
  /* justify-content: center; */
}
.table-head {
  width: 95%;
  height: 80%;
  /* background-color: rgb(219, 55, 55); */
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
}
.one,
.two,
.three,
.four,
.five {
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.one {
  width: 14%;
  /* background-color: #056cc0; */
}
.two {
  width: 25%;
  /* background-color: #7505c0; */
}
.three {
  width: 16%;
  /* background-color: #24c005; */
}
.four {
  width: 20%;
  /* background-color: #c00572; */
}
.five {
  width: 20%;
  /* background-color: #c0a405; */
}
.table-body {
  width: 1005px;
  height: 80%;
  background-color: none;
  display: flex;
  /* position: fixed; */
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* overflow-x: none;
    overflow-y: auto; */
}
.scroll {
  width: 93%;
  height: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row-1 {
  width: 98%;
  height: fit-content;
  margin-bottom: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  box-shadow: 1px 1px 5px #b0b3b3;
  border-radius: 3px;
}
/* .scroll{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
   
} */
/* .row-1{
    width: 98%;
    height: 63px;
    border-radius: 4px;
    margin-top:10px;
    border: none;
    box-shadow: 0rem 0.1rem 0.3rem rgb(0,0,0,0.3);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center
} */
.col-1,
.col-2,
.col-3,
.col-4,
.col-5 {
  width: 19.8%;
  height: 57px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.col-1 {
  width: 14%;
  /* background-color: #963c30; */
}
.col-2 {
  width: 25%;
  /* background-color: #419630; */
}
/* .col-3{
    background-color: #306896;
}
.col-4{
    background-color: #763096;
}
.col-5{
    background-color: #8f9630;
} */
.table-body a {
  text-decoration: none;
  color: black;
}
.payments {
  background-color: #262b2f;
  width: 100px;
  height: 36px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  color: white;
}
.payments:hover {
  border: 2px solid #262b2f;
  background-color: white;
  color: #262b2f;
}
.details {
  background-color: #0892d0;
  width: 100px;
  height: 36px;
  border: none;
  font-weight: 600;
  border-radius: 3px;
  box-shadow: 0rem 0.1rem 0.3rem rgb(0, 0, 0, 0.3);
  color: white;
}
.details:hover {
  border: 2px solid #0892d0;
  background-color: white;
  color: #0892d0;
}
.part-4 {
  width: 89%;
  height: 11%;
  /* background-color: #ce68f7; */
  /* padding-left: 80%; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.sort:hover {
  background-color: #535b88;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0892d0;
}

.mid-box-title-container {
  margin: 30px 0px;
}

.box-row {
  width: 86%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}
.box-column-1 {
  width: 34%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blueviolet; */
}
.box-column-2 {
  width: 63%;
  height: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: chartreuse; */
}
