.container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;
  padding-right: 35px;
  width: calc(100% - 250px);
  height: 100%;
}
.body-container {
  display: flex;
  width: 90%;
  margin-top: 30px;
}
h3 {
  font-size: 25px;
  color: #0892d0;
}
