* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  height: 100vh;
}
.addInstructor-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 85vh;
  background-color: white;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
}
.topic {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
.bottom-part {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin: 40px 40px;
  border: none;
}
.participation-count {
  font-weight: bold;
}
.button-set {
  color: whitesmoke;
}

.cancel {
  width: 70px;
  height: 40px;
  margin-right: 20px;
  background-color: #262b2f;
  font-weight: 600;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: honeydew;
  border: none;
}
.cancel:hover {
  background-color: white;
  color: #262b2f;
  border: 2px solid #262b2f;
}
.save {
  width: 130px;
  height: 40px;
  /* margin-right: 5px; */
  font-weight: 600;
  background-color: #0892d0;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: white;
  border: none;
}
.save:hover {
  /* width: 130px; */
  height: 40px;
  background-color: white;
  box-shadow: 1px 1px 10px #b0b3b3;
  border-radius: 4px;
  color: #0892d0;
  border: 2px solid #0892d0;
}
@media screen and (max-width: 1117px) {
  .save {
    width: 100px;
    height: 40px;
    font-size: xx-small;
    font-weight: normal;
  }
  .heading-row {
    display: none;
  }
}
