.container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: flex-end;
  margin-left: 250px;
  height: 100%;
  width: 100%;
}
.button-container {
  display: flex;
  width: 90%;
  margin-bottom: 30px;
  justify-content: flex-end;
}
.back-button {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #434645;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.income-graph-button {
  width: 120px;
  margin-right: 15px;
  height: 40px;
  color: white;
  background-color: #434645;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 10px #b0b3b3;
}
.tabs {
  display: flex;
  margin-left: 120px;
}
