* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  font-size: 65%;
}
.main-container {
  display: flex;
  position: fixed;
  overflow-y: auto;
  width: 100vw;
  padding-right: 50px;
  padding-left: 50px;
  background-color: #f2f2f2;
  height: 92vh;
}
h1 {
  margin-top: 30px;
  align-self: flex-end;
  font-size: 40px;
  margin-bottom: 30px;
  color: #0892d0;
}
