.container {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  justify-content: flex-end;
  margin-left: 250px;
  height: 100%;
  width: 100%;
}
.date-viewer {
  margin-left: 10%;
  font-size: 15px;
}
